@keyframes hero-visible {
	0% {
		transform: translateY(5em);
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

.hero {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.47) 37.5%,
		#e0e0e0 100%
	);
	overflow: hidden;
}
@media (max-width: 640px) {
	.hero {
		user-select: none;
	}
}
.hero__container {
	margin-top: -5em;
	width: 100%;
	animation: hero-visible 1s ease-in-out;
}

/* Domain */
.hero__domain {
	text-align: center;
	padding-block: 1ch; /* fix rapid hover-unhover issue */
	margin-bottom: -1ch; /* compensate for added padding */
}
@media (max-width: 640px) {
	.hero__domain {
		font-size: 5vw;
	}
}
@media (min-width: 641px) {
	.hero__domain {
		font-size: 2vw;
	}
}
.hero__domain__actual {
	width: 100%;
	text-align: center;
}
.hero__domain__actual:focus .hero__domain__actual--path,
.hero__domain:hover .hero__domain__actual--path,
.hero__domain__actual.highlight .hero__domain__actual--path {
	position: static;
}
.hero__domain__actual--host {
	font-weight: bold;
	color: #333333;
}
.hero__domain__actual--path {
	color: #f5f5f5;
	transition: color 2s ease;
	position: absolute;
}
.no-url .hero__domain:hover .hero__domain__actual--host,
.no-url .hero__domain:hover .hero__domain__actual--path,
.no-url .hero__domain__actual:focus .hero__domain__actual--host,
.no-url .hero__domain__actual:focus .hero__domain__actual--path,
.no-url .highlight .hero__domain__actual--path,
.no-url .highlight .hero__domain__actual--host {
	cursor: pointer;
	color: #333333;
	font-weight: bold;
	text-decoration: underline;
}

/* Title */
.hero__title {
	text-align: center;
	font-weight: bold;
	color: #828282;
	margin-block: 0.5em;
	line-height: normal;
	margin-inline: 15vw;
}
@media (max-width: 640px) {
	.hero__title {
		font-size: 9vw;
	}
}
@media (min-width: 641px) {
	.hero__title {
		font-size: 4vw;
	}
}
.hero__title span {
	font-style: italic;
	color: #333333;
}
.hero__title span:last-of-type {
	color: unset;
}

/* Subitle */
.hero__subtitle {
	font-weight: unset;
	line-height: normal;
	color: #4f4f4f;
	text-align: center;
}
@media (max-width: 640px) {
	.hero__subtitle {
		font-size: 5vw;
		margin-inline: 15vw;
	}
}
@media (min-width: 641px) {
	.hero__subtitle {
		font-size: 2vw;
		margin-inline: 30vw;
	}
}
.no-url .hero__subtitle span {
	text-decoration: underline 0px wavy;
	text-decoration-thickness: 1px;
	font-style: unset;
}
.no-url .hero__subtitle span:hover {
	cursor: ne-resize;
}
